@import 'bourbon';
@import 'neat';
@import 'normalize';
@import 'reset';

.container {
  margin-top: em(30);
}

.form-control.has-error {
  border: 1px solid red;
}

ul li {
  border-bottom: 1px solid #e6e6e6;
  margin: em(12) 0;

  p {
    margin: 0;
  }
}

ul li,
.post-body {
  .date {
    color: #a9a9a9;
    font-size: 11px;
  }
}

.post-body {
  p {
    margin-top: em(15);
  }
}

.post-controls {
  border-top: 1px solid #e6e6e6;
  margin-top: em(10);
  padding-top: em(13);
}

.load-wrapper {
  background-color: rgba(255, 255, 255, .8);
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.loader {
  @include transform(translate(-50%));
  @include size(em(40));
  left: 50%;
  position: absolute;
  top: 50%;

  &:before,
  &:after {
    border: 3px solid transparent;
    border-radius: 50%;
    content: '';
    display: block;
    position: absolute;
  }

  &:before {
    @include animation(loader-back 0.5s linear infinite);
    border-left-color: #afafaf;
    border-top-color: #afafaf;
    bottom: 2px;
    left: 2px;
    right: 2px;
    top: 2px
  }

  &:after {
    @include animation(loader 0.5s linear infinite);
    border-left-color: #696969;
    border-top-color: #696969;
    bottom: 9px;
    left: 9px;
    right: 9px;
    top: 9px
  }
}

@include keyframes(loader) {
  0% {
    @include transform(rotateZ(0deg));
  }

  100% {
    @include transform(rotateZ(360deg));
  }
}

@include keyframes(loader-back) {
  0% {
    @include transform(rotateZ(0deg));
  }

  100% {
    @include transform(rotateZ(-360deg));
  }
}